project:
  type: website
  output-dir: ../docs
website:
  title: "olist_quarto"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About team
      - href: data.qmd
        text: Data

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
