# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Quarto
/.quarto/
/_site/
/_freeze/
.ipynb_checkpoints/
**/*.quarto_ipynb
# System files
.DS_Store
Thumbs.db

# Do NOT ignore 'docs' (we need it for GitHub Pages)
# docs/  <-- Make sure this line does NOT exist or has a # in front